<ul class="breadcrumb">
  <li><a href="/#/">Início</a></li>
  <li><a href="/#/regioes/">Regiões</a></li>
  <li class="active" ng-bind="vm.regiao"></li>
</ul>

<h3>Selecione uma especialidade:</h3>
<div class="list-group">
  <button ng-repeat="i in vm.especialidades" ng-click="i.selecionado = !i.selecionado" ng-class="{ 'active': i.selecionado }" class="list-group-item" ng-bind="i.descricao"></button>
</div>

<div class="text-right">
  <a class="btn btn-primary" ng-click="vm.confirmar()">Confirmar</a>
</div>
