.jumbotron-cool {
  background-color: #39CCCC;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(45deg, #001F3F, #39CCCC);
  background-image: -webkit-linear-gradient(45deg, #001F3F, #39CCCC);
  background-image: -o-linear-gradient(45deg, #001F3F, #39CCCC);
  background-image: linear-gradient(45deg, #001F3F, #39CCCC);
  color: #FFFFFF;
}
canvas {
  width: 100%;
  height: 400px;
}

.checkboxRegiao {
  width: 200px;
  text-align: left;
}

#divRegiao {
  margin: 15px;
}

.divItemCheckbox {
  padding: 5px;
}

.divDate {
  margin-bottom: 5px;
}

.text-right {
  text-align: right;
}
